@model ResourceBookingSystem.Models.Resource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Upcoming Bookings</h4>
@if (Model.Bookings != null && Model.Bookings.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Booked By</th>
                <th>Purpose</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings.OrderBy(b => b.StartTime))
            {
                <tr>
                    <td>@booking.BookedBy</td>
                    <td>@booking.Purpose</td>
                    <td>@booking.StartTime.ToString("g")</td>
                    <td>@booking.EndTime.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings for this resource yet.</p>
}
<h4 class="mt-4">Upcoming Bookings</h4>

@if (Model.Bookings != null && Model.Bookings.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Booked By</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>@booking.StartTime.ToString("g")</td>
                    <td>@booking.EndTime.ToString("g")</td>
                    <td>@booking.BookedBy</td>
                    <td>@booking.Purpose</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-muted">No upcoming bookings for this resource.</p>
}


